<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login-page</title>
</head>
<body style="text-align: center;">
    <h1>Holla!</h1>
    <h4>Silahkan masukan email dan password</h4>
    <br><br>
    <form action="/" method="post">
        <p>E-mail</p>
        <input type="text" name="email">
        <p>Password</p>
        <input type="text" name="password">
        <br><br>
        <button type="submit">login</button>
    </form>
</body>
</html>